{% extends 'main/header.html' %}

{% block title %}Card{% endblock %}

{% block body %}
      <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% if product.image %}
                                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                            {% endif %}
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    $ {{ product.total_price }}
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                <form action="/cart/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product" value="{{ product.id }}">
                                    <input type="hidden" name="action" value="delete">
                                    <button class="btn btn-outline-dark mt-auto" type="submit">Удалить</button>
                                </form>
                                <form action="/cart/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product" value="{{ product.id }}">
                                    <input type="hidden" name="action" value="increment">
                                    <input type="hidden" name="amount" value="-1">
                                    <button class="btn btn-outline-dark mt-auto" type="submit">-</button>
                                </form>
                                <span class="btn btn-outline-dark mt-auto">{{ product.amount }}</span>
                                <form action="/cart/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product" value="{{ product.id }}">
                                    <input type="hidden" name="action" value="increment">
                                    <input type="hidden" name="amount" value="1">
                                    <button class="btn btn-outline-dark mt-auto" type="submit">+</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                total price - {{ total_price }}
                    {% if products %}
                        <form action="/order/" method="post">
                            <input type="hidden" name="order">
                            <button class="btn btn-outline-dark mt-auto" type="submit" href="{% url 'order' %}">Оформить заказ</button>
                        </form>
                        <form action="/cart/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="delete_all_from_cart">
                                <button class="btn btn-outline-dark mt-auto" type="submit">Очистить корзину</button>

                            </form>
                            {% else %}
                            <p>Ваша корзина пуста</p>
                        {% endif %}
                </div>
            </div>
        </section>
{% endblock %}
