{% extends 'main/header.html' %}

{% block title %}{% if not user.is_anonymous %}Welcome, {{ user }}{% else %}Home page{% endif %}{% endblock %}
{% block category %}
    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn hvr-fade" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Категории товаров
            </a>
        <ul class="dropdown-menu">
            {% for category in all_categories %}
                <li><a class="dropdown-item" href="{% url 'view_products_by_category' category.url %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}
{% block body%}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        {% if product.image %}
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <a href="{% url 'product' %}?id={{ product.id }}"><h5 class="fw-bolder">{{ product.name }}</h5></a>
                                <!-- Product price-->
                                ${{ product.price }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <form action="/cart/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product" value="{{ product.id }}">
                                <input type="hidden" name="action" value="add">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto" type="submit">В корзину</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
