{% extends 'main/header.html' %}
{% load static %}

{% block title %}{% if not user.is_anonymous %}Welcome, {{ user }}{% else %}Home page{% endif %}{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static "main/css/index.css" %}">{% endblock %}


{% block body%}

    <main>
  <div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Вкуснее с JustFood</h1>
        <p class="col-md-8 fs-4">Мы представляем только качественные, свежие, полезные продукты. Попробуйте что нибудь из нашего ассортимента</p>
        <a class="btn btn-primary btn-lg" href="{% url 'catalog' %}" type="button">Попробовать</a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Где то я это уже слышал..</h2>
          <p>Легко, быстро, вкусно, полезно - именно эти 4 слова у вас будут ассоциироваться с нашей продукцией! </p>
          <a class="btn btn-outline-light" href="{% url 'catalog' %}">Узнать больше</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Все ещё думаете?</h2>
          <p>Можно просто попробовать и оценить наш ассортимент. Мы всегда честны с нашими покупателями</p>
          <a class="btn btn-outline-secondary" href="{% url 'catalog' %}">Наш каталог</a>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
