{% extends "main/header.html" %}
{% block title %}Product{% endblock %}

{% block body %}
    {% if item %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            {% if item.image %}
                                <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.name }}" />
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ item.name }}</h5>
                                    <!-- Product price-->
                                    ${{ item.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <form action="/cart/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product" value="{{ item.id }}">
                                    <input type="hidden" name="action" value="add">
                                    <div class="text-center"><button class="btn btn-outline-dark mt-auto" type="submit">В корзину</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <p>Извините, товар не найден, перейдите в каталог и выберете другой товар</p>
    {% endif %}
{% endblock %}
